<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devgrafis.www.grafis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_pemdas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_pemdas"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity android:name=".DetailMaterialActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".YoutubeActivity" />
        <activity android:name=".SoalActivity" />
        <activity android:name=".AboutActivity"></activity>
    </application>

</manifest>